@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.heap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  line-height: normal;
}

.title {
  font-family: "Acme", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  color: #996dff;
}

.input-section {
  margin: 1.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;

  input {
    background-color: #1f1e25;
    height: 40px;
    border-radius: 10px;
    padding: 0 1rem;
    outline: none;

    &:focus {
      outline: none;
    }
  }

  button {
    background: #000;
    border-radius: 10px;
    border: 1px solid #996dff;
    height: 40px;
    max-width: 150px;
    width: 100%;
    transition: background 1s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #996dff;
    }
  }
}

.heap-array {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.heap-node {
  width: 40px;
  height: 40px;
  background-color: #6f00ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tree-visualization {
  border: none;
  border-radius: 10px;
  width: 100%;
  max-height: 65vh;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

.tree-visualization::-webkit-scrollbar {
  width: 8px;
}

.tree-visualization::-webkit-scrollbar-thumb {
  background: #6f00ff;
  border-radius: 4px;
}

.tree-visualization::-webkit-scrollbar-track {
  background: transparent;
}

.highlight {
  background-color: #c1c423;
  color: white;
}
